


<ion-header>
  <ion-toolbar color="tertiary" class="toolbar-with-margins">
    <ion-title class="center-title">
      PROYECTOS REALIZADOS
    </ion-title>
    <ion-buttons slot="end">
      <ion-button class="close-button" routerLink="/login">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="background-color: lightgray;">
  <ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col size="6">

          <div class="block" style="margin-top: 30px;">
            <ion-toolbar class="block-toolbar">
              <p style="font-size: 18px; color: white; font-weight: bold;">CALCULADORA EN ANDROID STUDIO</p>
            </ion-toolbar>
    
            <table style="margin-top: 20px;">
              <tr>
                <td style="text-align: left; width: 500px;">Se realizó una calculadora con las funciones basicas como: sumar, restar, dividir, multiplicar y el resultado de las operaciones</td>
              </tr>
              <br>
              <br>
                
                
                <img src="./assets/calculadora.png" class="rounded" alt="bootstrap">
              
            </table>
          </div>
        </ion-col>

        <ion-col size="6">
          <div class="block" style="margin-top: 30px;">
            <ion-toolbar class="block-toolbar">
              <p style="font-size: 18px; color: white; font-weight: bold;">PAGINA WEB CON BOOTSTRAP</p>
            </ion-toolbar>

            <table style="margin-top: 20px;">
              <tr>
                <td style="text-align: left; width: 500px;">Se realizó una pagina web con menu lateral, barra de busqueda y tarjetas con una breve descripción e imagenes que redirijen a videos de youtube utilizando bootstrap.</td>
              </tr>
              <br>
                <img src="./assets/bootstrap.png" class="rounded" alt="bootstrap">
            </table>
          </div>
        </ion-col>

      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <div class="block" style="margin-top: 30px;">
            <ion-toolbar class="block-toolbar">
              <p style="font-size: 18px; color: white; font-weight: bold;">REGISTRO DE PRODUCTOS</p>
            </ion-toolbar>
    
            <table style="margin-top: 20px;">
              <tr>
                <td style="text-align: left; width: 500px;">En python se realizó una ventana emergente, anclada a una base de datos en db browser, que sirve para registrar el nombre y precio de los productos.</td>
              </tr>
              <br>
                <img src="./assets/registro.png" class="rounded" alt="bootstrap" width="500" height="300">
            </table>
          </div>
        </ion-col>
        <ion-col size="6">
          <div class="block" style="margin-top: 30px;">
            <ion-toolbar class="block-toolbar">
              <p style="font-size: 18px; color: white; font-weight: bold;">PAGINA WEB PUMAS</p>
            </ion-toolbar>
            <table style="margin-top: 20px;">
              <tr>
                <td style="text-align: left; width: 500px;">En angular con html y bootstrap, se realizó una pagina web para el equipo de fútbol americano "Pumas". Esta pagina cuenta con algunos apartados como: contacto, horaio y multimedia.</td>
              </tr>
              <br>
                <img src="./assets/pumas.png" class="rounded" alt="bootstrap" width="500" height="300">
            </table>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div class="button-container">
            <ion-button expand="full" color="primary" class="small-button" routerLink="/home">Volver</ion-button>
          </div>
        </ion-col>
      </ion-row>
      
      
      
    </ion-grid>

    
    

    
  </ion-grid>
</ion-content>
