<ion-header>
  <ion-toolbar color="tertiary" class="toolbar-with-margins">
    <ion-title class="center-title">
      MULTIMEDIA
    </ion-title>
    <ion-buttons slot="end">
      <ion-button class="close-button" routerLink="/login">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="background-color: lightgray;">
  
  <ion-grid>

    <ion-row>
      <ion-col>
        <div class="block">
          <ion-toolbar class="block-toolbar">
            <p style="font-size: 18px; color: white; font-weight: bold;">IMAGENES</p>
          </ion-toolbar>

          <br>

          <div class="image-gallery">
            <img src="./assets/suzume.jpg" class="rounded" alt="suzume" width="500" height="300">
            <img src="./assets/isekai.jpg" class="rounded" alt="bootstrap" width="500" height="300">
            <img src="./assets/1309553.jpg" class="rounded" alt="bootstrap" width="500" height="300">
            <img src="./assets/58488.jpg" class="rounded" alt="bootstrap" width="500" height="300">
            <img src="./assets/dead.jpg" class="rounded" alt="bootstrap" width="500" height="300">
            <img src="./assets/kubo.jpg" class="rounded" alt="kubo" width="500" height="300">
            <img src="./assets/1366.jpg" class="rounded" alt="bootstrap" width="500" height="300">
          </div>
        </div>
      </ion-col>
    </ion-row>

    <br>
    <br>

    <ion-row>
      <ion-col>
        <div class="block">
          <ion-toolbar class="block-toolbar">
            <p style="font-size: 18px; color: white; font-weight: bold;">VIDEOS</p>
          </ion-toolbar><br>

          <div class="video-container">
            <iframe class="vid" width="560" height="315" src="https://www.youtube.com/embed/zotJ88K9YIg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <iframe class="vid" width="560" height="315" src="https://www.youtube.com/embed/kN3bsHZaadA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <iframe class="vid" width="560" height="315" src="https://www.youtube.com/embed/eVTXPUF4Oz4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <iframe class="vid" width="560" height="315" src="https://www.youtube.com/embed/JjaW2m4b-uo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <iframe class="vid" width="560" height="315" src="https://www.youtube.com/embed/3-HnNM2Ay8Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>

        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="button-container">
          <ion-button expand="full" color="primary" class="small-button" routerLink="/home">Volver</ion-button>
        </div>
      </ion-col>
    </ion-row>
  
  </ion-grid>
</ion-content>

