<ion-header>
  <ion-toolbar color="tertiary" class="toolbar-with-margins">
    <ion-title class="center-title">
      JAIRO ANDRES MARTÍNEZ ROJAS
    </ion-title>
    <ion-buttons slot="end">
      <ion-button class="close-button" routerLink="/login">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="background-color: lightgray;">
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="block block-1" style="margin-top: 20px;">
          <img src="assets/jairo.jpg" alt="Imagen de encabezado" style="border-radius: 20px; box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);">
        </div>
      </ion-col>
    </ion-row>
    <br>

    <ion-row>
      <ion-col>
        <div class="block">
          <ion-toolbar class="block-toolbar">
            <p style="font-size: 18px; color: white; font-weight: bold;">PERFIL</p>
          </ion-toolbar>
          <div class="block-content">
            <br>
            <p style="text-align: justify; margin-left: 400px; margin-right: 400px;">
              Soy una persona entusiasta y comprometida, con una fuerte motivación crecer tanto personal como profesionalmente. Aunque no cuento con experiencia laboral formal, poseo habilidades como la adaptabilidad y la capacidad de trabajo en equipo. Soy organizado, responsable y me enfoco en la calidad y el cumplimiento de metas.
            </p>
          </div>
        </div>
      </ion-col>
    </ion-row>

    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <div class="block" style="margin-top: 30px;">
            <ion-toolbar class="block-toolbar">
              <p style="font-size: 18px; color: white; font-weight: bold;">DATOS PERSONALES</p>
            </ion-toolbar>
    
            <table style="margin-top: 20px;">
              <tr>
                <td style="text-align: left; width: 300px;">Nombre:</td>
                <td style="text-align: left">
                  Jairo Andres Martinez Rojas
                </td>
              </tr>
              <br>
              <tr>
                <td style="text-align: left">Documento de Identidad:</td>
                <td style="text-align: left">
                  1.000.522.753
                </td>
              </tr>
              <br>
              <tr>
                <td style="text-align: left">Fecha de Nacimiento:</td>
                <td style="text-align: left">
                  31 de diciembre de 2003
                </td>
              </tr>
              <br>
              <tr>
                <td style="text-align: left">Lugar de Nacimiento:</td>
                <td style="text-align: left">
                  Bogotá Distrito Capital
                </td>
              </tr>
              <br>
              <tr>
                <td style="text-align: left">Dirección:</td>
                <td style="text-align: left">
                  Carrera 96 h N° 22 L 35
                </td>
              </tr>
              <br>
              <tr>
                <td style="text-align: left">Teléfono:</td>
                <td style="text-align: left">
                  3027943363
                </td>
              </tr>
              <br>
              <tr>
                <td style="text-align: left">Email:</td>
                <td style="text-align: left">
                  <span style="text-decoration: underline; color: #a139dd;">jairoandresmartinez32@gmail.com</span>
                </td>
              </tr>
            </table>
          </div>
        </ion-col>
        <ion-col size="6">
          <div class="block" style="margin-top: 30px;">
            <ion-toolbar class="block-toolbar">
              <p style="font-size: 18px; color: white; font-weight: bold;">Formación Académica</p>
            </ion-toolbar>
            <table style="margin-top: 20px;">
              <tr>
                <td style="text-align: left; width: 250px;">Universitarios:</td>
                <td style="text-align: left;">
                  Servicio Nacional de Aprendizaje (SENA)<br>
                  Análisis y Desarrollo de Software<br>
                  En curso
                </td>
              </tr>
              <br>
              <tr>
                <td style="text-align: left">Universitarios:</td>
                <td style="text-align: left;">
                  Tecnisistemas<br>
                  Técnico en auxiliar en sistemas de información<br>
                  2021
                </td>
              </tr>
              <br>
              <tr>
                <td style="text-align: left">Estudios Secundarios:</td>
                <td style="text-align: left">
                  Instituto la anunciación<br>
                  Sede: Fontibón<br>
                  2015-2020
                </td>
              </tr>
              <br>
              <tr>
                <td style="text-align: left">Estudios Primarios:</td>
                <td style="text-align: left">
                  Instituto la anunciación<br>
                  Sede: Villeta<br>
                  2010-2014
                </td>
              </tr>
            </table>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div class="button-container">
            <ion-button expand="full" color="primary" class="small-button" routerLink="/multimedia">Multimedia</ion-button>
          </div>
        </ion-col>
        <ion-col>
          <div class="button-containers">
            <ion-button expand="full" color="primary" class="small-button" routerLink="/proyectos">Proyectos</ion-button>
          </div>
        </ion-col>
      </ion-row>
      
      
      
    </ion-grid>
    

    
  </ion-grid>
</ion-content>
